<div class="grid_10">
	<div class="box round first grid">
    	<h2><%= @aluno.nome %></h2>
    	<div class="block ">
    	<form>
	        <table class="form">
	            <tr>
	                <td class="col1">
	                    <label>Valor</label>
	                </td>
	                <td class="col1">
	                    <label>Data</label>
	                </td>
	                <td class="col1">
	                    <label>Quantidade</label>
	                </td>
	                <td class="col1">
	                    <label>Intervalo</label>
	                </td>
	                
	            </tr>
	            <tr>
	            	<td class="col1">
	                    <input type="text" id="valor" />
	                </td>
	                <td class="col1">
	                    <input type="text" id="data" />
	                </td>
	                <td class="col1">
	                    <input type="text" id="quantidade" />
	                </td>
	                <td class="col1">
	                    <input type="text" id="intervalo" />
	                </td>
	            </tr>
	         </table>
	         <button class="btn-icon btn-grey btn-plus" onclick="alerta();"><span></span>Gerar Mensalidade</button>
	    </form>
	    </div>
                    <table class="data display datatable" id="example">
					<thead>
						<tr>
							<th>Valor</th>
							<th>Vecimento</th>
							<th>Juros</th>
							<th>Multa</th>
							<th>Desconto</th>
							<th>Total</th>
							<th>Dias Vencidos</th>
							<th>Quitação</th>
							<th>Carnês</th>
						</tr>
					</thead>
					<tbody>
						<% @aluno.mensalidades.each do |mensalidade| %>
						<tr class="odd gradeX">
							<td><%= mensalidade.valor %></td>
							<td><%= mensalidade.vencimento %></td>
							<td>juros</td>
							<td>multa</td>
							<td>desconto</td>
							<td>total</td>
							<td>dias vencidos</td>
							<td><%= mensalidade.data_quitacao%></td>
							<td><input type="checkbox" /></td>
						</tr>
						<% end %>
	    		</tbody>
	    	</table>
	    	
	    	
	</div>
</div>
<script type="text/javascript">
	var alerta = function(){
		alert("aqui");
	}
	
	$('.datatable').dataTable({
		"sPaginationType": "full_numbers"
	});
			setSidebarHeight();
	
</script>
