<div class="grid_10">
	<div class="box round first grid">
    	<h2><%= @aluno.nome %></h2>
    	<div class="block ">
    	<form>
	        <table class="form">
	            <tr>
	                <td class="col1">
	                    <label>Valor</label>
	                </td>
	                <td class="col1">
	                    <label>Data</label>
	                </td>
	                <td class="col1">
	                    <label>Quantidade</label>
	                </td>
	                <td class="col1">
	                    <label>Intervalo</label>
	                </td>
	                
	            </tr>
	            <tr>
	            	<td class="col1">
	                    <input type="text" id="valor" />
	                </td>
	                <td class="col1">
	                    <input type="text" id="data" />
	                </td>
	                <td class="col1">
	                    <input type="text" id="quantidade" />
	                </td>
	                <td class="col1">
	                    <input type="text" id="intervalo" />
	                </td>
	            </tr>
	         </table>
	         <button class="btn-icon btn-grey btn-plus" onclick="alerta();"><span></span>Gerar Mensalidade</button>
	    </form>
	    </div>
	    	
	    	
	    	      
                    <table class="data display datatable" id="example">
					<thead>
						<tr>
							<th>Rendering engine</th>
							<th>Browser</th>
							<th>Platform(s)</th>
							<th>Engine version</th>
							<th>CSS grade</th>
						</tr>
					</thead>
					<tbody>
						<tr class="odd gradeX">
							<td>Trident</td>
							<td>Internet
								 Explorer 4.0</td>
							<td>Win 95+</td>
							<td class="center"> 4</td>
							<td class="center">X</td>
						</tr>
						<tr class="odd gradeX">
							<td>Trident</td>
							<td>Internet
								 Explorer 4.0</td>
							<td>Win 95+</td>
							<td class="center"> 4</td>
							<td class="center">X</td>
						</tr>
						<tr class="odd gradeX">
							<td>Trident</td>
							<td>Internet
								 Explorer 4.0</td>
							<td>Win 95+</td>
							<td class="center"> 4</td>
							<td class="center">X</td>
						</tr>
						<tr class="odd gradeX">
							<td>Trident</td>
							<td>Internet
								 Explorer 4.0</td>
							<td>Win 95+</td>
							<td class="center"> 4</td>
							<td class="center">X</td>
						</tr>
						<tr class="odd gradeX">
							<td>Trident</td>
							<td>Internet
								 Explorer 4.0</td>
							<td>Win 95+</td>
							<td class="center"> 4</td>
							<td class="center">X</td>
						</tr>
						<tr class="odd gradeX">
							<td>Trident</td>
							<td>Internet
								 Explorer 4.0</td>
							<td>Win 95+</td>
							<td class="center"> 4</td>
							<td class="center">X</td>
						</tr>
						<tr class="odd gradeX">
							<td>Trident</td>
							<td>Internet
								 Explorer 4.0</td>
							<td>Win 95+</td>
							<td class="center"> 4</td>
							<td class="center">X</td>
						</tr>
						<tr class="odd gradeX">
							<td>Trident</td>
							<td>Internet
								 Explorer 4.0</td>
							<td>Win 95+</td>
							<td class="center"> 4</td>
							<td class="center">X</td>
						</tr>
						<tr class="odd gradeX">
							<td>Trident</td>
							<td>Internet
								 Explorer 4.0</td>
							<td>Win 95+</td>
							<td class="center"> 4</td>
							<td class="center">X</td>
						</tr>
						<tr class="odd gradeX">
							<td>Trident</td>
							<td>Internet
								 Explorer 4.0</td>
							<td>Win 95+</td>
							<td class="center"> 4</td>
							<td class="center"><input type="checkbox"/></td>
						</tr>
						<tr class="odd gradeX">
							<td>Trident</td>
							<td>Internet
								 Explorer 4.0</td>
							<td>Win 95+</td>
							<td class="center"> 4</td>
							<td class="center">X</td>
						</tr>
						<tr class="odd gradeX">
							<td>Trident</td>
							<td>Internet
								 Explorer 4.0</td>
							<td>Win 95+</td>
							<td class="center"> 4</td>
							<td class="center">X</td>
						</tr>
						<tr class="odd gradeX">
							<td>Trident</td>
							<td>Internet
								 Explorer 4.0</td>
							<td>Win 95+</td>
							<td class="center"> 4</td>
							<td class="center">X</td>
						</tr>
						<tr class="odd gradeX">
							<td>Trident</td>
							<td>Internet
								 Explorer 4.0</td>
							<td>Win 95+</td>
							<td class="center"> 4</td>
							<td class="center">X</td>
						</tr>
						<tr class="odd gradeX">
							<td>Trident</td>
							<td>Internet
								 Explorer 4.0</td>
							<td>Win 95+</td>
							<td class="center"> 4</td>
							<td class="center">X</td>
						</tr>
						<tr class="odd gradeX">
							<td>Trident</td>
							<td>Internet
								 Explorer 4.0</td>
							<td>Win 95+</td>
							<td class="center"> 4</td>
							<td class="center">X</td>
						</tr>
						<tr class="odd gradeX">
							<td>Trident</td>
							<td>Internet
								 Explorer 4.0</td>
							<td>Win 95+</td>
							<td class="center"> 4</td>
							<td class="center">X</td>
						</tr>
						<tr class="odd gradeX">
							<td>Trident</td>
							<td>Internet
								 Explorer 4.0</td>
							<td>Win 95+</td>
							<td class="center"> 4</td>
							<td class="center">X</td>
						</tr>
						<tr class="odd gradeX">
							<td>Trident</td>
							<td>Internet
								 Explorer 4.0</td>
							<td>Win 95+</td>
							<td class="center"> 4</td>
							<td class="center">X</td>
						</tr>
						<tr class="odd gradeX">
							<td>Trident</td>
							<td>Internet
								 Explorer 4.0</td>
							<td>Linux</td>
							<td class="center"> 4</td>
							<td class="center">X</td>
						</tr>
						
	    		</tbody>
	    	</table>
	    	
	    	
	</div>
</div>
<script type="text/javascript">
	var alerta = function(){
		alert("aqui");
	}
	
	$('.datatable').dataTable({
		"sPaginationType": "full_numbers"
	});
			setSidebarHeight();
	
</script>
